include CONTRIBUTING.rst
include LICENSE
include README.rst
include CHANGELOG.rst
include requirements.txt

recursive-include xcollection *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
include versioneer.py
include xcollection/_version.py